src/main/mule/mule-oauth-provider.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="035c3b1b-1fae-4389-b12c-c7b70aff356f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<os:config name="ObjectStore_Config" doc:name="ObjectStore Config" doc:id="0e616cd3-b4ba-4769-b3fd-e3b2798c3824" />
	<os:object-store name="Object_store" doc:name="Object store" doc:id="d90834bb-e4bc-4f1d-ab6b-66917d56c9b6" config-ref="ObjectStore_Config" />
	<oauth2-provider:config name="OAuth2_Provider_Config" doc:name="OAuth2 Provider Config" doc:id="7d315bfe-f68b-4cbe-bf58-d16da10e029d" listenerConfig="HTTP_Listener_config" clientStore="Object_store" supportedGrantTypes="CLIENT_CREDENTIALS">
		<oauth2-provider:token-config tokenStore="Object_store" tokenTtl="1" tokenTtlTimeUnit="HOURS" />
	</oauth2-provider:config>
	<flow name="mule-oauth-providerFlow" doc:id="4b5c6779-5ad8-4eef-ae5f-b94f37a910f0" >
		<http:listener doc:name="Listener" doc:id="939ad1a8-8f84-4dab-b848-df3e3e00b1a3" config-ref="HTTP_Listener_config" path="/createClient"/>
		<oauth2-provider:create-client doc:name="Create client" doc:id="9a56e8da-efd3-4484-bd43-a9769d455ac9" config-ref="OAuth2_Provider_Config" clientId="#[attributes.headers.client_id]" type="CONFIDENTIAL" secret="#[attributes.headers.client_secet]" clientName="#[attributes.headers.client_name]" description='#[""]' principal='#[""]' failIfPresent="true"/>
		<ee:transform doc:name="Set Payload" doc:id="327ada2c-634c-4146-b06c-271b95050627" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Client is successfully created"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="mule-oauth-providerFlow1" doc:id="bf56be50-62e8-40e1-85c0-2da391cfb62e" >
		<http:listener doc:name="Listener" doc:id="a8d20f02-148e-45b3-9419-a614519b9ee9" config-ref="HTTP_Listener_config" path="/validateToken"/>
		<oauth2-provider:validate-token doc:name="Validate token" doc:id="0a99b58d-cc42-4e98-bf5d-efce1773af77" config-ref="OAuth2_Provider_Config"/>
	</flow>
</mule>
